    <h1>Listado de Clientes y Historiales</h1>
{}
    <h2>Clientes</h2>
    <ul>
        {% for cliente in clientes %}
        <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
        {% endfor %}
    </ul>

    <h2>Historiales</h2>
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Método de Pago</th>
            <th>Cliente</th>
        </tr>
        {% for historial in historiales %}
        <tr>
            <td>{{ historial.fecha }}</td>
            <td>{{ historial.monto }}</td>
            <td>{{ historial.get_metodo_pago_display }}</td>
            <td>{{ historial.cliente.nombre }} {{ historial.cliente.apellido }}</td>
        </tr>
        {% endfor %}
    </table>