<h1>Información del Trabajador</h1>

<p>Nombre: {{ trabajador.nombre }}</p>
<p>Apellido: {{ trabajador.apellido }}</p>
<p>Salario por hora: {{ trabajador.salarioHora }}</p>

<h2>Modificar Salario</h2>

<form method="post">
    {% csrf_token %}
    {{ form.salarioHora.label_tag }} {{ form.salarioHora }}
    <button type="submit">Modificar</button>
</form>

<h2>Asignar Turno</h2>

<form method="post">
    {% csrf_token %}
    {{ turno_form.as_p }}
    <button type="submit">Asignar</button>
</form>